Package: php-vitexsoftware-digest-modules-dev
Source: php-vitexsoftware-digest-modules
Version: 1.0.0
Architecture: all
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Installed-Size: 7
Depends: php-vitexsoftware-digest-modules, phpunit
Section: web
Priority: optional
Homepage: https://github.com/VitexSoftware/DigestModules
Description: Development files for DigestModules
 Unit tests, examples and development tools for the DigestModules library.
